.subnav{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  li{
    cursor:pointer;
    margin-right: 1.75rem;
    white-space: nowrap;
  }
  li:hover{
    text-decoration:underline;
  }
  &__dark{
    li{
      color: #fff;
      
    }
  }
  &__light{
    li{
      color: #441D4F;
    }
  }
  @media(max-width:991px){
    align-items: start;
    li{
      padding: 0;
      margin: 0 1.5rem;
    }
  }
}
.active{
  text-decoration: underline;
  font-weight: 700;
}
