.nav{
  width: 100%;
  &__dark{
    li{
      a{
        color: #fff;
      }
    }
  }
  &__light{
    li{
      a{
        color: #441D4F;
      }
    }
  }
  &__list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__logo{
      width:20%;
      &__dark{
        li{
          a{
            border: 2px solid #fff; 
            color:#fff !important;
          }
        }
      }
      &__light{
        li{
          a{
            border: 2px solid #441D4F; 
            color:#441D4F !important;
          }
        }
      }
      li{
        a{
          padding: .5rem;
          font-size: 1.6rem;
        }
      }
    }
    &__films{
      width:30%;
      display: flex;
      justify-content: space-between;
    }
    &__other{
      width:50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li{
        margin-right: 2rem;
      }
      &__search{
        input{
          width:16rem;
          height:2rem;
          background-color:transparent;
          padding: 0 .5rem;
          &::placeholder{
            color:#c0c0c0;
          }
        }
        button{
          height:2rem;
          padding:.5rem;
          border:none;
          outline: none;
        }
        &__dark{
          input{
            border:1px solid #fff;
          }
          button{
            background-color:#fff;
            color:#441D4F;
          }
        }
        &__light{
          input{
            border:1px solid #441D4F;
          }
          button{
            background-color:#441D4F;
            color:#fff;
          }
        }
      }
    }
    @media (max-width: 768px){
      &__logo{
        width:100%;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__films{
        width:100%;
        order :3;
      }
      &__other{
        width:100%;
        margin-bottom: 2rem;
        justify-content: space-between;
        li{
          margin-right: 1rem;
        }
        &__search{
          input{
            width:11rem;
            height:3rem;
          }
          button{
            height: 3rem;
          }
        }
      }
    }
  }
  }