*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  &__light{
    color: black;
    background-color: white;
  }
  &__dark{
    color: #fff;
  background-color: #441D4F;
  }
}

