.results{
  width:100%;
  margin-top: 2rem;
  &__body{
    div{
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__wrapper{
      margin-top: 2rem !important;
      margin-bottom: 3rem !important;
    }
    &__title{
      font-size: 2rem !important;
    }

  }

}