.results{
  width:100%;
  margin-top: 2rem;
  &__body{
    div{
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    p{
      text-transform: capitalize;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      span{
        text-transform: none;
      }
    }
    &__wrapper{
      margin-top: 2rem !important;
      margin-bottom: 3rem !important;
    }
    &__title{
      font-size: 2rem !important;
    }

  }

}